@import '../../../stylus/common'

.markdown-area
  pre
    padding 16px
    overflow auto
    font-size 85%
    line-height 1.45
    border 1px solid #E4E4E4
    border-radius 3px
    background-color #f6f8fa
    code
      margin 0
      padding 0
      background-color inherit
  code
    margin 0
    padding 3px
    font-size 85%
    background-color rgba(27,31,35,0.05)
    border 1px solid #ded9d9
    border-radius 3px
