.custom-a {
  display: inline-block;
  text-decoration: none;
  color: #42b983;
  transition: color 0.15s;
}
.custom-a:hover {
  color: #ffc741;
}
.custom-checkbox {
  color: #42b983;
}
.custom-checkbox:hover .el-checkbox__inner,
.custom-checkbox:focus .el-checkbox__inner {
  border-color: #42b983;
}
.custom-checkbox .is-checked .el-checkbox__inner {
  border-color: #42b983;
  background-color: #42b983;
}
.custom-btn {
  width: 100%;
  border: 0 !important;
  color: White !important;
  background-color: #42b983 !important;
  transition: all 0.15s;
}
.custom-btn:hover,
.custom-btn:focus {
  color: White !important;
  background-color: #f7ba2a !important;
}
.custom-confirm {
  color: White;
  background-color: #42b983;
  border-color: #42b983;
  transition: all 0.15s;
}
.custom-confirm:hover,
.custom-confirm:focus {
  color: White;
  background-color: #f7ba2a;
  border-color: #f7ba2a;
}
.custom-cancel {
  color: #99a9bf;
  background-color: White;
  transition: all 0.15s;
}
.custom-cancel:hover,
.custom-cancel:focus {
  border-color: #99a9bf;
  color: #8492a6;
}
.custom-ipt i:hover {
  color: #42b983 !important;
}
.custom-ipt i:hover + input {
  border-color: #42b983 !important;
}
.custom-ipt input {
  color: #42b983;
}
.custom-ipt input:hover,
.custom-ipt input:focus {
  border-color: #42b983;
}
.custom-ipt input::-webkit-input-placeholder {
  font-size: 0.8em;
  color: #c0ccda;
}
.custom-ipt input:-ms-input-placeholder {
  font-size: 0.8em;
  color: #c0ccda;
}
.custom-ipt input::placeholder {
  font-size: 0.8em;
  color: #c0ccda;
}
.custom-form input,
.custom-form textarea {
  color: #42b983;
}
.custom-form input:hover,
.custom-form textarea:hover,
.custom-form input:focus,
.custom-form textarea:focus {
  border-color: #42b983;
}
.custom-form input::-webkit-input-placeholder,
.custom-form textarea::-webkit-input-placeholder {
  font-size: 0.8em;
}
.custom-form input:-ms-input-placeholder,
.custom-form textarea:-ms-input-placeholder {
  font-size: 0.8em;
}
.custom-form input::placeholder,
.custom-form textarea::placeholder {
  font-size: 0.8em;
}
.custom-form button {
  font-size: 0.8em;
  color: #8492a6;
  transition: all 0.2s;
}
.custom-form button:hover {
  border-color: #42b983;
  color: #42b983;
}
.custom-form .is-error input,
.custom-form .is-error textarea {
  border-color: #ff7352 !important;
}
.custom-form .el-form-item__error {
  color: #ff7352;
}
.custom-form .el-form-item__label::before {
  content: '' !important;
}
.custom-popper li {
  color: #8492a6;
}
.custom-popper li:hover {
  color: #fff;
  background-color: #42b983;
}
.custom-quill .ql-editor {
  min-height: 300px;
  border: 1px solid #c0ccda;
  border-radius: 5px;
  color: #42b983;
}
.custom-msg p {
  color: Blank;
}
.custom-dialog .el-dialog__headerbtn:hover>i,
.custom-dialog .el-dialog__headerbtn:focus>i {
  color: #42b983;
}
.el-message-box .el-message-box__close:hover {
  color: #42b983;
}
.el-dropdown-menu {
  font-size: 0.8em;
}
.el-dropdown-menu a {
  text-decoration: none;
}
.el-dropdown-menu .el-dropdown-menu__item {
  color: #42b983;
}
.el-dropdown-menu .el-dropdown-menu__item:hover {
  color: White;
  background-color: #42b983;
}
.el-dropdown-menu .el-dropdown-menu__item > i {
  margin-right: 5px;
}
.el-checkbox .is-checked .el-checkbox__inner {
  border-color: #42b983;
  background-color: #42b983;
}
.el-checkbox .el-checkbox__inner:hover {
  border-color: #42b983;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'monaco', 'menlo', serif, sans-serif;
  font-size: 16px;
  background-color: #fff;
}
#app {
  height: 100%;
}
/* login */
.df-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #1f2d3d;
}
/* header */
.df-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  color: White;
  background-color: #42b983;
}
.df-header .logo > a {
  text-decoration: none;
  color: White;
}
.df-header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.df-header .user .name {
  position: relative;
  margin: 0 30px 0 20px;
  text-shadow: 1px 1px 1px #808080;
  color: #1f2d3d;
}
.df-header .user .name::before {
  position: absolute;
  top: 0;
  left: -15px;
  color: White;
  content: '\201C';
}
.df-header .user .name::after {
  position: absolute;
  top: 0;
  right: -15px;
  color: White;
  content: '\201D';
}
.df-header .user .menu {
  height: 50px;
  overflow: hidden;
}
.df-header .user .menu .avatar {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border-radius: 40px;
  cursor: pointer;
}
/* main */
.df-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}
/* nav */
.df-nav {
  height: 100%;
}
.df-nav a {
  text-decoration: none;
}
.df-nav a .is-active {
  color: #42b983;
}
.df-nav a i {
  margin-right: 5px;
  color: #42b983;
}
/* content */
.df-content {
  width: 100%;
  padding: 20px;
}
.df-content .breadcrumb {
  margin-bottom: 20px;
}
.df-content .breadcrumb a:hover {
  color: #f7ba2a !important;
}
/* user */
.df-user-wrapper .avatar-wrapper {
  position: absolute;
  top: 20%;
  left: 20%;
}
.df-user-wrapper .avatar-wrapper .avatar {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  cursor: pointer;
}
.df-user-wrapper .df-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.df-user-wrapper .df-user .item {
  margin: 0 auto;
  padding: 10px 0;
}
.df-user-wrapper .df-user .item label {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #8492a6;
}
.df-user-wrapper .df-user .item p {
  display: inline-block;
  margin: 0;
  padding: 10px;
  border-bottom: 1px dashed #87d86b;
  color: #42b983;
}
.df-user-wrapper .df-user .item p .default {
  color: #f7ba2a;
}
