Green = #42b983
Light-Green = #87d86b
Write = #FFF
Dark-White = #F9FAFC
Red = #FF7352
Blue = #64c0ff
Orange = #F7BA2A
Light-Orange = #ffc741
Silver = #8492A6
Light-Silver = #99A9BF
Extra-Light-Silver = #C0CCDA
Gray = #D3DCE6
Light-Gray = #E5E9F2
Extra-Light-Gray = #EFF2F7
Black = #1F2D3D
Light-Black = #324057
Extra-Light-Black = #475669

fj(x=flex-start,y=stretch)
  display flex
  justify-content x
  align-items y

wh(w,h)
  width w
  height h

bc(bgC=Green,c=Write)
  color c
  background-color bgC

mgreen(o=1)
  rgba(66,185,131,o)


/* 自定义游览器滚动条 */
scrollBar()
  &::-webkit-scrollbar
    width 6px
  &::-webkit-scrollbar-thumb
    background-color Silver
    border-radius 20px
  &::-webkit-scrollbar-track-piece
    background-color Gray

/* 自定义表单 */
