@import '../../../stylus/common'

.login-form
  z-index 999
  wh(30vw, 50vh)
  .is-error input
    border-color Silver !important
  .el-form-item__error
    color Red
  .el-input-group__prepend
    padding-left 15px
    border-color Silver
    bc(transparent, White)
  input
    padding 20px 0
    border-left 0
    border-color Silver
    bc(transparent, Green)
    &:hover
      border-color Silver
    &:focus
      border-color Silver
  .title
    padding 20px 0
    font-size 1.5em
    text-align center
    color Green
  .misc
    fj(space-between)